<div>
    <button ng-click="vm.logout()">Logout</button><br>
</div>

<div>
    <form ng-submit="vm.save(vm.oEmployee)">
        <input type="text" placeholder="First name" ng-model="vm.oEmployee.sFirstName" required>
        <input type="text" placeholder="Last name" ng-model="vm.oEmployee.sLastName" required>
        <input type="text" placeholder="Position" ng-model="vm.oEmployee.sPosition" required>
        <br>
        <button type="submit">Save</button>
    </form>
</div>
<button ng-click="vm.setFilter(vm.oEmployee)">Filter</button>

<table>
    <thead>
    <tr>
        <th></th>
        <th>First name1</th>
        <th>Last name1</th>
        <th>Position1</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="oItem in vm.aList" ng-if="vm.aList.length > 0">
        <td><input type="checkbox" ng-checked="oItem.bRemove" ng-model="oItem.bRemove"></td>
        <td ng-click="vm.select(oItem)">{{oItem.sFirstName}}</td>
        <td ng-click="vm.select(oItem)">{{oItem.sLastName}}</td>
        <td ng-click="vm.select(oItem)">{{oItem.sPosition}}</td>
    </tr>
    <tr ng-if="vm.aList.length == 0">
        <td colspan="4">
            The table is empty
        </td>
    </tr>
    </tbody>
</table>
<button ng-click="vm.remove(vm.oEmployee)">Delete</button>