<div>
    <span>You entered as: </span>
    <button ng-click="vm.logout()">Logout</button><br>
</div>


<div>
    <form ng-submit="vm.save(vm.oEdited)">
        <input type="text" placeholder="First name" ng-model="vm.oEdited.sFirstName" ng-required="true">
        <input type="text" placeholder="Last name" ng-model="vm.oEdited.sLastName" ng-required="true">
        <input type="text" placeholder="Position" ng-model="vm.oEdited.sPosition" ng-required="true">
        <br>
        <button type="submit">Save</button>
    </form>
</div>
<button ng-click="vm.setFilter(vm.oEdited)">Filter</button>

<table>
    <thead>
    <tr>
        <th></th>
        <th>First name1</th>
        <th>Last name1</th>
        <th>Position1</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="oItem in vm.aList" ng-if="vm.aList.length > 0">
        <td></td>
        <td>{{oItem.sFirstName}}</td>
        <td>{{oItem.sLastName}}</td>
        <td>{{oItem.sPosition}}</td>
    </tr>
    <tr ng-if="vm.aList.length == 0">
        <td colspan="4">
            The table is empty
        </td>
    </tr>
    </tbody>
</table>