<div class="rowr">
    <form class="form-horizontal col-md-6 col-md-offset-3 login-form" ng-submit="vm.login()">
        <input type="text"
               ng-model="vm.oUser.sLogin"
               required
               class="form-control"
               placeholder="Login"><br>
        <input type="password"
               ng-model="vm.oUser.sPassword"
               required
               class="form-control"
               placeholder="Password"><br>

        <div class="row">
            <div class="label label-danger col-md-6 fail-logim-message" ng-show="vm.bLoginError">
                Incorrect Login or Password
            </div>
            <button class="btn btn-info col-md-4 login-button" type="submit">Submit</button><br>
        </div>

    </form>
</div>